# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## OBJECTIVES
* Lists of the  popular languages for Data Science are given
* Commonly used libraries for data scientists are iterated
* examples of arithmetric operations using Jupyter note are done

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include 
1. Pandas
2. Matplotlib
3. Plotly
4. Tensorflow
5. Scipy
etc

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|Rstudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
SUNDAY TEMITOPE DADA